<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikhilreddy.ass">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".IntroApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity"
            android:theme="@style/IntroTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="ASLA"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".BeginnerTutorialActivity"
            android:label="@string/beginner"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".IntermediateTutorialActivity"
            android:label="@string/intermediate"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AdvancedTutorialActivity"
            android:label="@string/advanced"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EasyQuizActivity"
            android:label="Easy"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MediumQuizActivity"
            android:label="Medium"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HardQuizActivity"
            android:label="Hard"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FaqActivity"
            android:label="F.A.Q"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GeneralArticlesActivity"
            android:label="General"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SpecificArticlesActivity"
            android:label="Project Specific"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ContactActivity"
            android:label="Contact"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>