<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikhilreddy.ass">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BeginnerTutorialActivity"
            android:label="@string/beginnertut_activity_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".IntermediateTutorialActivity"
            android:label="@string/intermediatetut_activity_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AdvancedTutorialActivity"
            android:label="Advanced tutorial"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EasyQuizActivity"
            android:label="Easy quiz"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MediumQuizActivity"
            android:label="Medium quiz"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HardQuizActivity"
            android:label="Hard quiz"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ArticlesActivity"
            android:label="Articles"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FaqActivity"
            android:label="F.A.Q"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>